# created by virtualenv automatically
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv
config.py
old_v.py
chat_gpt_v.py
# Базы данных
*.db
*.sqlite
*.txt
!requirements.txt
# Логи
*.log
попытки change_status.txt
# IDE
.vscode/
.idea/
.idea/*
